/*  External style sheet for MITA website

    Author: 
    Updated:  11/20/2018
*/



body {
	margin: 0;
	padding: 0;
	line-height: 1.5;

}

/* Header and navigation */

header {
	max-width: 70%;
	margin: auto;
}

#site-header-wrap {
	background-image: url(../images/mitaLogo/headerIMG.svg);
	background-height: 800px;
	backgroun-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar {
	margin-left: auto;
}

.nav-item, .dropdown-menu{
	list-style-type: none;
    min-height: 4em;
    background-color: cornsilk;
    padding: .5em;
    margin: auto;
    width: 100%;
    font-size: 1.2em;

}

.nav-item  a{
    text-decoration: none;
}

.nav-list{
	display: inline-block;
	vertical-align: top;
	min-width: 4em;

}

/* Main content */
.main-content {
	max-width: 60%;
	margin: auto;
	
}

.align-right {
	float: right;
}

.content-clear {
	clear: right;
}

.sub-content{
	width: 70%;
	margin: auto;
}


/* Jeanne Styles footer */
.footer{
	padding: 3em;

}
#findus, #contactus{
	display: inline-block;
	vertical-align: top;
	width:40%;
	margin: auto;
	padding-left: 2em;
}
.social-links-menu{
	list-style-type: none;
}
.social-link{
	display: inline-block;
	vertical-align: bottom;
	width: 5em;
	padding-left: 1em;
}
.social, .copyright{
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 3em;
}

/* Zeph Styles footer */

.siteFooter {
	padding: 3em;
}
.footerContentWrap {
	max-width: 50%;
	margin: auto;
}

#findUs, #contactUs {
	width: 40%;
	display: inline-block;
	margin: auto;
	padding: 2em;
	
}

#contactUs {
	float: right;
}

.copyright {
	float: right;
}