/*  External style sheet for MITA website

    Author: Zeph Marcus
    Date:   10/28/2018
*/

header {
	background-image: url("../images/header/headerMitaLogo.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-origin: content-box;
	background-attachment: fixed;
	background-position: 50% 2em;
	padding: 4em;
}

nav.site-navigation ul {
	list-style: none;
	text-align: center;
}

nav.site-navigation li {
	display: inline-block;
	padding: 10px 12px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
}

nav.site-navigation a {
	text-decoration: none;
}

nav.site-navigation a:hover {
	color: grey;
}

section.main-content {
	margin-left: 35%;
	margin-right: 35%;
}

footer {
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	margin-left: 20%;
	margin-right: 20%;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	display: inline;
}

div.footer_left_col {
	margin-left: 15%;
	margin-right: 15%;
}

div.footer_right_col {
	margin-left: 15%;
	margin-right: 15%;
}

div.footer_navigation {
	margin-right: 20%;
	margin-left: 20%;
}

div.contact_column {
	float: right;
}

